<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post">
        <label for="Username">Username:</label>
        <input type="text" name="username" placeholder="enter user id">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="enter password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>